
@mixin mobile{
  @media screen and (max-width:480px) {
    @content;
  }
}
@mixin tablet{
  @media screen and (max-width:768px) {
    @content;
  }
}
@mixin laptop{
  @media screen and (max-width:1200px) {
    @content;
  }
}

.formContainer {
  background-image: url("https://wallpaperaccess.com/full/340434.png");
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .formWrapper {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    gap: 15px;
    background-color: #669fe6;
    align-items: center;
    .title {
      color: blueviolet;
      font-size: 20px;
    }
    form {
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      input {
        padding: 10px;
        border-radius: 5px;
        border: none;
        width: 300px;
        border-bottom: 1px solid #000;
      }
      ::placeholder {
        color: rgb(167, 165, 165);
      }
      button {
        width: 100px;
        height: 30px;
        border-radius: 10px;
        border: none;
        background-color: aqua;
        cursor: pointer;
      }
      label {
        display: flex;
        gap: 20px;
        cursor: pointer;
        align-items: center;
        margin-bottom: 10px;
        img {
          height: 30px;
        }
      }
    }
    p {
      color: blueviolet;
    }
  }
}

.home {
  background-color: #669fe6;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .container {
    width: 65%;
    height: 80%;
    border: 1px solid #000;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    @include tablet{
      width: 90%;
    }
    .sidebar {
      flex: 1;
      background-color: blueviolet;
      .navbar {
        display: flex;
        align-items: center;
        background-color: #38ec56;
        height: 50px;
        padding: 10px;
        justify-content: space-between;
        color: #fff;
        .logo {
          font-weight: bold;
          font-size: 20px;
          @include tablet{
            display: none;
          }
        }
        .user {
          display: flex;
          gap: 10px;
          align-items: center;
        }
        img {
          background-color: #fff;
          height: 24px;
          width: 24px;
          border-radius: 50%;
          object-fit: cover;
        }
        button {
          background-color: #fff;
          border-radius: 5px;
          border: none;
          width: 60px;
          height: 20px;
          font-size: 10px;
          cursor: pointer;
          @include tablet{
            position: absolute;
            bottom: 20px;
          }
        }
      }
      .search {
        border-bottom: 1px solid #b4c7bd;
        .searchForm {
          padding: 10px;
          input {
            height: 30px;
            width: 100%;
            border-radius: 5px;
            border: none;
            background-color: blueviolet;
            border-bottom: 1px solid #fff;
            color: #fff;
            outline: none;
            &::placeholder {
              color: #000000;
            }
          }
        }
      }
      .userChat {
        padding: 10px;
        display: flex;
        align-items: center;
        cursor: pointer;
        gap: 10px;
        color: #fff;
        &:hover {
          background-color: #aee666;
        }
        img {
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }
        .userChatInfo {
          @include mobile{
            display: none;
          }
          span {
            font-weight: 500;
            font-size: 20px;
          }
          p {
            font-size: 18px;
            color: grey;
          }
        }
      }
    }
    .chat {
      flex: 2;
      .chatInfo {
        height: 50px;
        background-color: blueviolet;
        color: lightgray;
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
        align-items: center;
        .chatIcons {
          display: flex;
          gap: 10px;
          img {
            height: 25px;
            cursor: pointer;
          }
        }
      }
      .messages {
        background-color: #bbb7b7;
        padding: 10px;
        height: calc(100% - 100px);
        overflow-y: scroll;
        scroll-behavior: smooth;
        .message{
          display: flex;
          gap: 10px;
          margin-bottom: 20px;
          .messageInfo{
            display: flex;
            flex-direction: column;
            color: grey;
            font-weight: 300;
            img{
              width: 40px;
              border-radius: 50%;
              object-fit: cover;
            }
          }
          .messageContent{
            max-width: 80%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            p{
              background-color: white;
              padding: 10px 20px;
              border-radius: 0px 10px 10px 10px;
            }
            img{
              width: 50%;
              max-width: max-content;
              border-radius: 10px;
            }
          }
          &.owner{
            flex-direction: row-reverse;
            .messageContent{
              color:#fff;
              align-items: flex-end;
              
              p{
                background-color: #669fe6;
                border-radius: 10px 0px 10px 10px;

              }
            }
          }
        }
      }
      .input {
        background-color: #fff;
        height: 50px;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        input {
          width: 100%;
          border: none;
          outline: none;
          color: #59595a;
          font-size: 15px;
        }
        ::placeholder {
          color: lightgrey;
        }
      }
      .send{
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        img{
          height: 25px;
        }
        button{
          border:none;
          outline: none;
          background-color: rgb(55, 121, 219);
          height: 30px;
          width: 60px;
          color:#fff;
          border-radius: 5px;  
          cursor: pointer;
        }
      }
    }
  }
}
