.formContainer {
  background-image: url("https://wallpaperaccess.com/full/340434.png");
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .formWrapper {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    gap: 15px;
    background-color: #669fe6;
    align-items: center;
    .title {
      color: blueviolet;
      font-size: 20px;
    }
    form {
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      input {
        padding: 10px;
        border-radius: 5px;
        border: none;
        width: 300px;
        border-bottom: 1px solid #000;
      }
      ::placeholder {
        color: rgb(167, 165, 165);
      }
      button {
        width: 100px;
        height: 30px;
        border-radius: 10px;
        border: none;
        background-color: aqua;
        cursor: pointer;
      }
      label {
        display: flex;
        gap: 20px;
        cursor: pointer;
        align-items: center;
        margin-bottom: 10px;
        img {
          height: 30px;
        }
      }
    }
    p {
      color: blueviolet;
    }
  }
}

.home {
  background-color: #669fe6;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .container {
    width: 75%;
    height: 80%;
    border: 1px solid #000;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    .sidebar {
      flex: 1;
      background-color: blueviolet;
      .navbar {
        display: flex;
        align-items: center;
        background-color: #38ec56;
        height: 50px;
        padding: 10px;
        justify-content: space-between;
        color: #fff;
        .logo {
          font-weight: bold;
          font-size: 20px;
        }
        .user {
          display: flex;
          gap: 10px;
          align-items: center;
        }
        img {
          background-color: #fff;
          height: 24px;
          width: 24px;
          border-radius: 50%;
          object-fit: cover;
        }
        button {
          background-color: #fff;
          border-radius: 5px;
          border: none;
          width: 60px;
          height: 20px;
          font-size: 10px;
          cursor: pointer;
        }
      }
      .search {
        border-bottom: 1px solid #b4c7bd;
        .searchForm {
          padding: 10px;
          input {
            height: 30px;
            width: 100%;
            border-radius: 5px;
            border: none;
            background-color: blueviolet;
            border-bottom: 1px solid #fff;
            color: #fff;
            outline: none;
            &::placeholder {
              color: #000000;
            }
          }
        }
      }
      .userChat {
        padding: 10px;
        display: flex;
        align-items: center;
        cursor: pointer;
        gap: 10px;
        color: #fff;
        &:hover {
          background-color: #aee666;
        }
        img {
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }
        .userChatInfo{
          span{
            font-weight: 500;
            font-size: 20px;
          }
          p{
            font-size: 18px;
            color:grey;
          }
        }
      }
    }
    .chat {
      flex: 2;
      .chatInfo{
        height: 50px;
        background-color:blueviolet;
        color:lightgray;
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
        align-items: center;
        .chatIcons{
          display: flex;
          gap: 10px;
          img{
            height: 25px;
            cursor: pointer;
          }
        }
      }
      .messages{
        background-color: #bbb7b7;
      }
    }
  }
}
